# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls

# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/

# OS
.DS_Store
Thumbs.db

# Assignment 2 artifacts / datasets
assign2-ml/outputs_hybrid/
assign2-ml/p4-btl2/processed_rice_224/
*.pt
*.pth
*.ckpt
assign2-ml/p4-btl2/
assign2-ml/logs-*.txt
assign2-ml/data/
